@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("@assets/fonts/Montseratt/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("@assets/fonts/Inter/Inter-V.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  @apply font-montserrat;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-base text-slate-800 leading-5 bg-gray-50;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.625em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.125em;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
}

h1,
h2,
h3 {
  @apply font-bold;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.875em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.375em;
  }
}

img,
svg {
  @apply w-full h-auto;
}

.main {
  @apply flex flex-col h-screen;
}

.wrapper {
  @apply flex-1 relative;
}

.container {
  @apply max-w-7xl mx-auto sm:px-6 lg:px-8;
}

.btn {
  @apply inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-700 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500;
}

button {
  .enabled-button {
    display: initial;
  }

  .disabled-button {
    display: none;
  }

  &[disabled] {
    .enabled-button {
      display: none;
    }
    .disabled-button {
      display: initial;
    }
  }
}

// FORMS
.form {
  @apply space-y-3;
}

.label {
  @apply block text-sm font-medium text-gray-700 mb-2;
}

.input {
  @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md;
}

.field_with_errors .input {
  @apply border-red-500;
}

.trix-content pre {
  color: #000;
}

.fadein img {
  position: absolute;
  bottom: 0;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

.f2 {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
