%h1 Projects
- if @projects.empty?
  %p No projects found.
- else
  %div.grid.grid-cols-full.md:grid-cols-2.lg:grid-cols-4.my-4.gap-4
    - @projects.each do |project|
      = link_to project_path(project.id) do
        .card.w-full.bg-blue-500.text-white.p-6.rounded.shadow-md
          = project.name
          = project.description

= paginate @projects